@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 90%;
    max-width: 1270px;
    margin: 0 auto;
  }
}

/* antd classes */
.ant-input-search-button {
  background: #01B4E4;
}

.ant-input-affix-wrapper:hover {
  border-color: #01B4E4;
}